.dark-button {
  position: absolute;
  height: auto; /* Автоматична висота */
  width: auto;  /* Автоматична ширина на основі вмісту */
  left: 21px;
  top: 20px;
  background: #142A31;
  border-radius: 5px;
  display: inline-flex; /* Відображає кнопку відповідно до вмісту */
  justify-content: center; /* Центрує текст */
  align-items: center;
  padding: 5px 10px; /* Додає внутрішній відступ для кнопки */
  border: none;
  cursor: pointer;
}

.dark-button-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #FDB0AB;
  text-transform: uppercase;
  white-space: nowrap; /* Запобігає переносу тексту на інший рядок */
}

