
  .dark-button {
    position: absolute;
    width: 238px;
    height: 24px;
    left: 210px; 
    top: 20px;
    background: #142A31;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border: none;
    cursor: pointer;
  }
  
  .dark-button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FDB0AB;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
  .dark-button {
    position: static;
    margin: 0 auto 20px; 
    display: inline-block; 
  }
}