.logo {
    display: inline-block;
    width: 160px !important; 
    height: 89px !important; 
    flex-shrink: 0;
  }
  
  .logo img {
    width: 160px !important; 
    height: 89px !important; 
  }
