.nav-btn {
  margin-left: auto;
  z-index: 99;
  display: flex; /* Показываем кнопку навигации по умолчанию */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 32px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.nav-btn-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
}

/* Медиа-запрос для скрытия кнопки навигации на экранах от 769px и больше */
@media (min-width: 1020px) {
  .nav-btn {
    display: none; /* Скрываем кнопку навигации на больших экранах */
  }
}