/* File: css/quote.css */

.quote-section {
    position: relative;
    height: 96px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .quote-text {
    position: absolute;
    width: 996px;
    height: 96px;
    left: calc(50% - 996px/2);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #142A31;
  }