.savings-section {
  padding: 80px 0;
}

.savings-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.savings-section .text-content {
  max-width: 50%;
  position: relative;
  padding-top: 50px;
}

.savings-section .main-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #142A31;
  margin-bottom: 20px;
}

.savings-section .description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #142A31;
}

.savings-section .image-content img {
  max-width: 100%;
  height: auto;
}

.savings-section .dark-button {
  position: absolute;
  top: -40px;
  left: 0;
}

@media screen and (max-width: 768px) {
  .savings-section .container {
    flex-direction: column;
    align-items: center;
  }

  .savings-section .text-content {
    max-width: 100%;
    padding-top: 0;
    text-align: center;
    order: 3; /* Перемещаем блок с текстом после заголовка */
  }

  .savings-section .image-content {
    order: 4; /* Перемещаем блок с картинкой после текста */
    margin-bottom: 20px;
  }

  .savings-section .dark-button {
    position: static;
    margin-bottom: 20px;
    text-align: center;
    order: 1; /* Перемещаем кнопку перед остальными элементами */
  }

  .savings-section .main-heading {
    order: 2; /* Перемещаем заголовок после кнопки */
    text-align: center;
    margin-bottom: 10px; /* Добавляем отступ между заголовком и текстом */
  }

  .savings-section .description {
    text-align: center;
  }
}